#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
    position: fixed;
    bottom: 0px;
    background: rgba(37, 63, 91, .8);
    color: #f1f1f1;
    width: 100%;
    padding: 0px;
}

img
{
	margin-right:20px; /*to have the space above the image*/
   margin-left:20px;
   margin-top:20px; /*to have the space above the image*/
   margin-bottom:20px; /*to have the space under the image*/
}
/* Style the button used to pause/play the video */

#myBtn:hover {
    background: #ddd;
    color: black;
}